[submodule "Bookinfo-Ratings-Service"]
	path = Bookinfo-Ratings-Service
	url = https://github.com/jigneng1/Bookinfo-Ratings-Service.git
[submodule "Bookinfo-Reviews-Service"]
	path = Bookinfo-Reviews-Service
	url = https://github.com/jigneng1/Bookinfo-Reviews-Service.git
[submodule "Bookinfo-Details-Service"]
	path = Bookinfo-Details-Service
	url = https://github.com/jigneng1/Bookinfo-Details-Service.git
[submodule "Bookinfo-ProductPage-Service"]
	path = Bookinfo-ProductPage-Service
	url = https://github.com/jigneng1/Bookinfo-ProductPage-Service.git
[submodule "Bookinfo-Infra"]
	path = Bookinfo-Infra
	url = https://github.com/jigneng1/Bookinfo-Infra.git
