[submodule "Bookinfo-Ratings-Service"]
	path = Bookinfo-Ratings-Service
	url = https://github.com/jigneng1/Bookinfo-Ratings-Service.git
[submodule "Bookinfo-Reviews-Service"]
	path = Bookinfo-Reviews-Service
	url = https://github.com/jigneng1/Bookinfo-Reviews-Service.git
